<h1>Editing service</h1>

<% form_for([@church,@service]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial =>'service', :locals =>{:f =>f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [@church,@service] %> |
<%= link_to 'Back', church_services_path(@church) %>
