<%=javascript_include_tag 'prototype'%>
<%= calendar_date_select_includes "red"  %>

<div class="add_church">Service Times</div><div class="new_service_div"><%= link_to_remote 'New service', :url => new_church_service_path(@church), :update => "service_#{@div_id}", :method => :get, :before => "$('service_#{@div_id}').toggle()" %></div>
<br/>
<div id="service_<%=@div_id%>" style="display :none"></div>
<table  class="service_table">
  <tr>
  	<th>Title </th>
	<th>Start At </th>
	<th>End At </th>
  </tr>

<% for service in @services %>
  <tr>
  	<td><%=service.title%></td>
	<%if service.recurring == true%> 
	<td><%=service.start_at.strftime("%a ")%><%=service.start_date.strftime(" %b %d ")%><%=service.start_at.strftime(" %I:%M%p ")%></td>
	<td><%=service.end_at.strftime("%a ")%><%=service.end_date.strftime(" %b %d ")%><%=service.end_at.strftime(" %I:%M%p ")%></td>
    <%else%>
	<td><%=service.start_day%><%=service.start_at.strftime(" %I:%M%p ")%></td>
	<td><%=service.end_day%><%=service.end_at.strftime(" %I:%M%p ")%></td>
	<%end%>
	<td><%= link_to 'Edit', [:edit, @church,service] %></td>
  </tr>
<% end %>
</table>


