<%= error_messages_for :user%>
<p style="color: red;font-weight:bold"><%= flash[:notice] %></p>

	
	<% form_for :user, :url =>sessions_path ,:method => 'post' do -%>
	
		<table>
				<tr>
					<td>User Name</td>
				</tr>
				<tr>
					<td><%= text_field_tag "username", nil, :size => "20" %></td>
				<tr>
					<td>Password</td>
				</tr>
				<tr>	
					<td><%= password_field_tag "password", nil, :size => "20" %></td>
				</tr>	
				
				<tr>
					<td> </td>
	
				</tr>	
				<tr>
					<td><%= image_submit_tag("login.gif") %></td>
				</tr>
				<tr>
					<td><%= link_to  "Register New User", :controller=>'users',:action=>'new' %>
					</td>
				<tr>
					<td><%= link_to "I forgot my password  or username", new_password_path, :method => 'get' %>
					</td>
				</tr>	
						
				</tr>	
				
		</table>			
	<% end -%>