<%=javascript_include_tag :defaults%>
<%= form_remote_tag :url => {:action => 'search_result'}, :update => 'church_result' %>

<table>
	<tr><td>Church Title</td><td><%=text_field 'church','name'%></td></tr>
	<%if @is_admin%>
	<tr><td>Created By</td><td><%=text_field 'church','created_by'%></td></tr>
	<%else%>
	<input type="hidden" name="church[created_by]" value="" %></input>
	<%end%>
	<tr><td>Town</td><td><%=text_field 'church','city'%></td></tr>
	<tr><td>Zip Code</td><td><%=text_field 'church','zip'%></td></tr>
</table>
<%= submit_tag 'Search' %>  

</form>

<div id="church_result"></div>

