<%=javascript_include_tag :defaults%>
<%= calendar_date_select_includes "red"  %>

<table>
    <tr>
      <td width=100px><%= f.label :title %></td>
  	  <td><%= f.text_field :title %></td>
      <td><%=f.check_box :recurring,:onclick=>'event_hide();'%>Non Recurring Occasion</td>
  	</tr>
</table>  	
<table id='start_at'>	
	<tr>
  	  <td width=100px><%= f.label :start_at %></td>
	  <td><%= calendar_date_select_tag "start_date", "", :time => true, :popup => :force  %></td>
	  <td></td>
  	</tr>
	
    <tr>
  	  <td><%= f.label :end_at %></td>
  	  <td><%= calendar_date_select_tag "end_date", "", :time => true, :popup =>:force  %></td>
      <td></td>
  	</tr>
</table>
 
  <table id="start_time" style="display:none">
  	<tr>
  		<td width=100px>Start At</td>
		<td><%=f.time_select "start_at"%></td>
  		<td><%=f.select "start_day",get_hash("Day")%> </td>
   </tr>
   <tr>
   		<td width=100px>End At</td>
		<td><%=f.time_select "end_at"%></td>
  		<td><%=f.select "end_day",get_hash("Day")%></td> 
  </tr> 
  
  </table>
  
  <table>
  	 <tr><td></td><td>255 character maximum</td><td></td></tr>
	 <tr>
   	   <td width=100px>Breif Description</td>
   	   <td><%=f.text_area "description",:cols=>25,:rows=>5,:onkeyup=>"textCounter(this, this.form.current_count);"%></td>
	   <td></td>
   	</tr>
	<tr><td></td><td><input readonly type="text" name="current_count" value="255" size="3" />
    characters remaining.</td><td></td></tr>
  </table>

