<h1>Editing event</h1>

<% form_for([@church,@event]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial =>'event', :locals =>{:f =>f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [@church,@event] %> |
<%= link_to 'Back', church_events_path(@church) %>
